<!DOCTYPE html>
<html lang="ch">
<head>
   <meta charset="utf-8">
   <title>Bootstrap 实例 - 按钮选项</title>
   <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<style type="text/css">

.leftMeun {
	position: absolute;
	box-sizing: border-box;
	width: 300px;
	height: 100%;
	background: #4d5e70 bottom;
}
.leftMeun >div {
	padding-left: 20px;
}
.l_title{
    margin-top:300px;
    text-transform: uppercase;
  }
</style>
<body>

<div id="LG" class="container-fluid">
	<!-- 左侧菜单栏目块 -->
			<div class="leftMeun" id="leftMeun">
				<div class="l_title">
                        Yin Zishao
				</div>
				<button type="button" class="btn btn-primary btn-lg">User</button>
   

				
			</div>
		
</div>

</body>
</html>



